// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* custom template */

html, body {
  height: 100%;
  font-family: verdana,arial,sans-serif;
  color: #555555;
}

.nav {
  font-family: Arial,sans-serif;
  font-size: 13px;
}

a {
  color: #222222;
  &:hover {
    text-decoration: none;
  }
}

hr {
  border-color: #dedede;
}

.wrapper, .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.column {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.wrapper:after {
  clear: both;
}

.column {
  &:after {
    clear: both;
  }
  height: 100%;
  overflow: auto;
  *zoom: 1;
  .padding {
    padding: 20px;
  }
}

.full {
  padding-top: 70px;
}

.box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #444444;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
  margin-top: 32px;
}

.navbar-blue {
  border-width: 0;
  // background-color: #3B5999;
  background-color: #2196C6;
  color: #ffffff;
  font-family: arial,sans-serif;
  top: 0;
  position: fixed;
  width: inherit;
  li > a {
    color: #efefef;
  }
}

.navbar-toggle {
  color: #efefef;
}

.navbar-blue {
  .dropdown-menu li {
    a {
      color: #2A4888;
    }
    > a {
      padding-left: 30px;
    }
  }
  li > a {
    &:hover, &:focus {
      background-color: #2A4888;
      color: #fff;
    }
  }
  .open {
    background-color: #2A4888;
    color: #fff;
    > a {
      background-color: #2A4888;
      color: #fff;
      &:hover, &:focus {
        background-color: #2A4888;
        color: #fff;
      }
    }
  }
}

.navbar-user {
  margin-right: 0px;
}

#main {
  background-image: linear-gradient(to bottom, #2196ca, rgba(25, 151, 93, 0.65));
  padding-left: 0;
  padding-right: 0;
  .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
  }
}

#sidebar {
  padding: 0px;
  padding-top: 15px;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #2196ca, rgba(25, 151, 93, 0.65));
  text-shadow: 0 0 2px #000000;
  padding-left: 5px;
  a {
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 2px #000000;
    padding-left: 5px;
  }
}

// Shift left-nav down away from top-nav bar
.nav_padding {
  margin-top: 70px;
}

#sidebar-footer a {
  color: #ffffff;
  background-color: transparent;
  text-shadow: 0 0 2px #000000;
  padding-left: 5px;
}

#sidebar .nav li > a:hover {
  background-color: #393939;
}

.logo {
  display: block;
  padding: 3px;
  background-color: #fff;
  color: #3B5999;
  height: 28px;
  width: 28px;
  margin: 9px;
  margin-right: 2px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px;
  border-radius: 2px;
}

#sidebar-footer {
  background-color: #444;
  position: absolute;
  bottom: 5px;
  padding: 5px;
}

#footer {
  margin-bottom: 20px;
}

/* bootstrap overrides */

h1, h2, h3 {
  font-weight: 800;
}

.navbar-toggle, .close {
  outline: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn-primary, .label-primary {
  background-color: #3B5999;
  color: #fffffe;
}

.list-group-item.active {
  background-color: #3B5999;
  color: #fffffe;
  &:hover, &:focus {
    background-color: #3B5999;
    color: #fffffe;
  }
}

.btn-default {
  color: #666666;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.form-control! {}

.panel textarea, .well textarea, textarea.form-control {
  resize: none;
}

.badge {
  color: #3B5999;
  background-color: #fff;
  &:hover {
    background-color: #3B5999;
    color: #fff;
  }
}

.badge-inverse {
  background-color: #3B5999;
  color: #fff;
}

.jumbotron {
  background-color: transparent;
}

.label-default {
  background-color: #dddddd;
}

.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top: 1px solid #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.panel-default .panel-heading {
  background-color: #f9fafb;
  color: #555555;
}

.col-sm-9.full {
  width: 100%;
}

.modal-header {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
}

.modal-footer {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
  i {
    font-size: 20px;
    color: #c0c0c0;
  }
}

.well i {
  font-size: 20px;
  color: #c0c0c0;
}

.modal-body {
  padding: 0px;
  textarea.form-control {
    resize: none;
    border: 0;
    box-shadow: 0 0 0;
  }
}

small.text-muted {
  font-family: courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }
  .full {
    padding-top: 20px;
  }
  .navbar-blue {
    // background-color: #3B5999;
    top: 0;
    width: 100%;
    position: relative;
  }
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
    .sidebar-offcanvas {
      left: -33%;
      position: absolute;
      top: 0;
      width: 33%;
      margin-left: 5px;
    }
  }
  #sidebar {
    padding-left: 3px;
    a {
      padding-left: 3px;
    }
  }
  #sidebar-footer a {
    padding-left: 3px;
  }
}